#export REPO_URL=jkmktps-mc-aws-uswest-app.registry.snowflakecomputing.com/mc_app_data/mc_app/mc_app_repository
export REPO_URL=jkmktps-hda34492.registry.snowflakecomputing.com/mc_app_data/mc_app/mc_app_repository
