# dependencies that are built in a separate stage of the docker image
agent-common @ git+https://github.com/monte-carlo-data/agent-common.git@v0.1.1

snowflake-connector-python==3.15.0
requests>=2.32.4 # Upgraded in VULN-616
urllib3>=2.6.0 # Upgraded for agent-common compatibility
